/* style.css */

* {
    font-family: "Arial", "Verdana", sans-serif;
    color: #213343;
    background-color: #F6F9FC;
}

.link {
    color: #006;
}

.subheader {
    font-style: italic;
}

.recipeHighlights {
    display: inline-flex;
}

.recipeCard {
    border: 1px solid #213343;
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
    text-align: center;
    flex: 1;
}

.recipeCard p {
    font-size: 12px;
}

.recipeCard h5 {
    margin: 5px auto;
}

button {
    background-color: #213343;
    color: #F6F9FC;
    border: none;
    border-radius: 3px;
}

button a.cta {
    text-decoration: none;
    background-color:inherit;
    color: inherit;
    font-size: 11px;
  }